/** 常用色值 **/
$colorA: #f9c700;
$colorB: #ff5400;
$colorC: #333;
$colorD: #6699cc;
$colorE: #9cb3c5;
$colorF: #e0e6ec;
$colorG: #666;
$colorH: #999;
$colorI: #ccc;
$colorJ: #d7d7d7;
$colorK: #e3e3e3;
$colorL: #f1f3f5;
$colorM: #ffffff;
$colorN: #e5e5e5;
$colorO: #afafaf;
$colorP: #ff8605;
$colorQ: #f9fbfc;
$colorR: #001529;
$colorS: #002140;
$colorT: #232526;
$colorU: #bebebe;
$colorBG: #eef0f3;
// 头部
$headere: #5430ff;
$headers: #3693ff;
$headerh: 64px;
// 菜单-logo区域高度
$menuLogoAreah: 68px;
// 菜单-logo区域高度
$menuLogoh: 32px;
// 菜单背景色
$menubg: #001529;
$menuWidth: 140px;
$menuseleteds: rgba(54, 147, 255, 0.5);
$menuseletede: rgba(54, 147, 255, 0);

/** 常用字体大小 **/
$fontA: 34px;
$fontB: 22px;
$fontC: 18px;
$fontD: 16px;
$fontE: 14px;
$fontF: 12px;
$fontG: 20px;

/** 高度 **/
$h48: 48px;
$h60: 60pc;
